head
    link(rel="stylesheet", href="/styles/styles.css")
body
    #wrapper
    header#js-header
        .container.clearfix
        h1#logo Apples
        nav
            //- a(href='#bacon') Bacon
            //- a(href='#sausage') Sausage
            //- a(href='#biltong') Biltong
            a(href="/api/auth/google") Login with google
    #main
        #content
        section
            .container
            h1 I Second That Emotion
            p
                | Aww, it&apos;s true. I&apos;ve been hiding it for so long. Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you! You guys go on without me! I&apos;m going to go&mldr; look for more stuff to steal! When I was first asked to make a film about my nephew, Hubert Farnsworth, I thought &quot;Why should I?&quot; Then later, Leela made the film. But if I did make it, you can bet there would have been more topless women on motorcycles. Roll film! So I really am important? How I feel when I&apos;m drunk is correct? Is the Space Pope reptilian!?
            p Bacon atball corned beef strip steak andouille.
        section.color
            .container
            h1 The Duh-Vinci Code
            p
                | Bender, you risked your life to save me! Good news, everyone! I&apos;ve taught the toaster to feel love! I can explain. It&apos;s very valuable. Can we have Bender Burgers again?
                | For the last time, I don&apos;t like lilacs! Your &apos;first&apos; wife was the one who liked lilacs! You seem malnourished. Are you suffering from intestinal parasites? Say what? Now, now. Perfectly symmetrical violence never solved anything. Eeeee! Now say &quot;nuclear wessels&quot;! Ugh, it&apos;s filthy! Why not create a National Endowment for Strip Clubs while we&apos;re at it?
                | I suppose I could part with &apos;one&apos; and still be feared&mldr; Noooooo! Have you ever tried just turning off the TV, sitting down with your children, and hitting them?
                | Isn&apos;t it true that you have been paid for your testimony? All I want is to be a monkey of moderate intelligence who wears a suit&mldr; that&apos;s why I&apos;m transferring to business school! We&apos;ll need to have a look inside you with this camera. Really?!
            p Bacon ipsum dolor sit amet pig biltong filet mignon, kiel
        section
            .container
            h1 A Bicyclops Built For Two
            p
                | I decline the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh&mldr; also, comes with double prize money. Ugh, it&apos;s filthy! Why not create a National Endowment for Strip Clubs while we&apos;re at it? Oh dear! She&apos;s stuck in an infinite loop, and he&apos;s an idiot! Well, that&apos;s love for you. For the last time, I don&apos;t like lilacs! Your &apos;first&apos; wife was the one who liked lilacs! I was having the most wonderful dream. Except you were there, and you were there, and you were there! You guys go on without me! I&apos;m going to go&mldr; look for more stuff to steal!
            p Bacon 
    footer
        .container.clearfix
        #col-1.col
            ul
            li APPLES
            li
                a(href='#0') Home
            li
                a(href='#0') Services
            li
                a(href='#0') Contact
            li
                a(href='#0') Sitemap
        #col-2.col
            ul
            li SOCIAL
            li
                a(href='#0') Facebook
            li
                a(href='#0') Twitter
            li
                a(href='#0') LinkedIn
        #col-3.col
            ul
            li SERVICES
            li
                a(href='#0') Bacon
            li
                a(href='#0') Sausage Services
            li
                a(href='#0') Cheese
            li
                a(href='#0') Cider Apples
        #copy
            | &copy; Designed and built by 
            a(href='https://twitter.com/lilianakastilio') @liianakastilio
            |  2013 - 2014
    script(src="/scripts/main.js") 
